h1{
    color: red;
}

.title{
    color: blue;
}

.block{
    box-sizing: border-box;


    height: 400px;
    width: 400px; 
    background-color: lightcoral;

    /* border-width: 10px;
    border-color: black;
    border-style: solid; */
    
    border: 10px solid black;

    /* border-radius: 100px; */
    /* border-radius: 50%; */


    /* border-top-left-radius: 100px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 400px; */

    /* border-radius: 100px 200px 300px 400px; */

    /* padding: 50px; */

    /* Ichki joy ajratish */

    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px; */

    padding: 50px 70px;

    /* Blok ni centerga olish */

    /* margin-left: auto;
    margin-right: auto; */

    margin: 0 auto;

}